/* AuthForm.css */

.auth-form {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .auth-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .auth-form button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .auth-form button:hover {
    background-color: #27ae60;
  }
  
  /* Responsive Styles */
  @media (min-width: 600px) {
    .auth-form {
      max-width: 400px;
    }
  }  