@import url("https://fonts.cdnfonts.com/css/comfortaa-3");
@import url("https://fonts.cdnfonts.com/css/darker-grotesque");
@import url("https://fonts.cdnfonts.com/css/commissioner-2");

/* AuthForm.css */
/* AuthForm.css */
.auth-form {
  background-color: #fff;
  border-radius: 8px;
  max-width: 400px; /* Set a maximum width for the form */
  margin: 0 auto; /* Center the form horizontally */
  margin-top: 5vh; /* Adjust the top margin as needed */
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.logo img {
  margin-top: 35px;
}

.logo h3 {
  color: white;
  font-size: 34px;
  font-weight: 700;
  font-family: "Commissioner", sans-serif;
}

.form-header h2 {
  color: #0e9061; /* Green color for H element */
  text-align: left;
  font-family: "Commissioner", sans-serif;
  font-size: 23px;
  font-weight: 700;
}

.form-header p {
  color: #000; /* Black color for paragraph element */
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}

label {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Darker Grotesque", sans-serif;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc; /* Line under each input */
  outline: none;
}

input::placeholder {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.auth-form i.fas-padlock {
  margin-left: 5px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 22%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox-container input {
  margin-top: 5px;
  margin-right: 10px; /* Add some spacing between the checkbox and text */
  background: #d9d9d9;
  color: #d9d9d9;
  border: none;
  outline: none;
}

.checkbox-container span {
  position: relative;
  right: 20%;
  text-align: left;
  width: 100%;
  font-size: 16px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
}

.checkbox-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  right: 14%;
  position: relative;
  margin-bottom: 10px;
}

.checkbox-container2 input {
  margin-top: 5px;
  margin-right: 28px; /* Add some spacing between the checkbox and text */
  background: #d9d9d9;
  color: #d9d9d9;
  border: none;
  outline: none;
}

.checkbox-container2 span {
  position: relative;
  right: 18%;
  text-align: left;
  width: 100%;
  font-size: 16px;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
}

.checkbox-container2 a {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #0e9061;
  width: 100%;
  left: 30%;
  text-align: right;
}

button {
  width: 100%;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Darker Grotesque", sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0e9061;
}

button:hover{
  background-color: white;
  color: #0e9061;
  border: 2px solid #0e9061;
}

.or-divider {
  margin: 20px 0;
  display: flex;
  align-items: center;
  color: #ccc;
}

.or-divider hr {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.or-text {
  margin: 0 20px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Comfortaa", sans-serif;
}

/* AuthForm.css */
/* ... (Previous styles) */

.google-signup {
  border: 2px solid #0e9061;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.google-signup a {
  margin-left: 10px;
  text-decoration: none;
  color: #13A23B;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 14px;
}



.login p {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.login a {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #0e9061;
  text-decoration: none;
}
