/* AuthForm.css */

.dashboard {
    font-family: 'Arial', sans-serif;
  }
  
  .dash-header {
    background-color: #0e9061;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .desktop-nav {
    display: flex;
    gap: 20px;
  }
  
  .addMed {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .addMed img {
    width: 30px;
    height: 30px;
  }
  
  .profile-icon {
    display: flex;
    align-items: center;
    font-size: 1.2em;
  }
  
  .Settings {
    display: flex;
    align-items: center;
    font-size: 1.2em;
  }
  
  .dash-body {
    padding: 20px;
    background-color: #c0f8da;
  }
  
  .dash-icon {
    display: flex;
    align-items: center;
  }
  
  .dash-text {
   
    padding: 20px;
    border-radius: 8px;
    margin-left: 15px;
  }
  
  .dash-text h2 {
    margin-bottom: 10px;
  }
  
  .dash-heart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .dash-heart img {
    width: 60px;
    height: 60px;
  }
  
  /* Responsive Styles */
  @media (min-width: 600px) {
    .dash-header {
      padding: 20px;
    }
  
    .dash-body {
      padding: 40px;
    }
  
    .dash-text {
      margin-left: 30px;
    }
  
    .desktop-nav {
      gap: 40px;
    }
  }
  