/* vertical.css */

.vertical {
    width: 50%;
    background-color: #0e9061;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  
  .vertical-logos {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid white;
  }
  
  .side-bar {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .side {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    cursor: pointer;
  }
  
  .side img {
    margin-right: 10px;
  }
  
  .settings {
    margin-top: auto;
    padding: 20px;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    margin-right: 0.4%;
  }
  